@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;600&display=swap");

/*
* Extra-light 200
Regular 400
*/

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Josefin Sans", sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
